@model IEnumerable<DoAn_Web.Models.EF.OrderDetail>
@using DoAn_Web.Common
@if (Model != null && Model.Any())
{
    var i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td>@Common.FormatNumber(item.Product.PriceSale)</td>
                    <td>@item.Quantity</td>
                    <td>@Common.FormatNumber((item.Price * item.Quantity), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}

