@model DoAn_Web.Models.EF.Order
@using PagedList
@using DoAn_Web.Common
@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
}

@section    naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Home" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết đơn hàng</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết đơn hàng</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mã đơn hàng</label>
                        <p class="form-control">@Model.Code</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        <p class="form-control">@Model.CustomerName</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>SDT</label>
                        <p class="form-control">@Model.Phone</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ngày đặt</label>
                        <p class="form-control">@Model.CreateDate.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <p class="form-control">@Model.Email</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Trang thái</label>
                        <p class="form-control">@(Model.TypePayment == 1?"Chưa thanh toán":"Đã thanh toán")</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <h2>Sản phẩm đã đặt </h2>
                </div>
                <div class="col-12">
                    @Html.Action("Partial_SanPham", "Order", new { id = Model.Id })
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th><th></th><th></th> <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th> <th></th><th></th><th></th><th></th>
                                <th colspan="9" class="text-right">Tổng thiệt hại là : </th>
                                <th class="text-center">@Common.FormatNumber(Model.TotalAmount, 0)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                </div>
            </div>
            <!-- /.card-body -->
        <div class="card-footer">   
            <div class="form-group">
                <a href="/admin/order" class="btn btn-danger">Quay lại</a>
            </div>
        </div>
            <!-- /.card-footer-->
        </div>
    <!-- /.card -->

</section>
